body {
    font-family: 'Spectral', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.nav-link {
    font-family: 'Roboto Slab', serif;
}

p {
    font-size: 1.1rem;
}


/* unvisited link */

a:link {
    color: #31B362;
}


/* visited link */

a:visited {
    color: #31B362;
}


/* mouse over link */

a:hover {
    color: #31B362;
}


/* selected link */

a:active {
    color: #31B362;
}

@media (min-width: 1500px) {
    .container {
        max-width: 1350px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
    .p-mega {
        min-height: 50vh;
        padding-top: 5rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }
}

@media (max-width: 991px) {
    .p-mega {
        padding: 3rem;
    }
}

@media (max-width: 700px) {
    .display-4 {
        font-size: 2.5rem;
    }
    .display-1 {
        font-size: 2rem;
    }
    .navbar-nav {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .hide-mobile {
        display: none;
    }
}

.text-overlay {
    color: white;
    background-color: rgba(49, 180, 108, 0.92);
    padding: 3rem;
}

.navbar {
    text-transform: uppercase;
}

footer {
    background-color: whitesmoke;
}

#donate {
    background-color: #6231B3;
    color: white;
    padding: 3rem;
}

#social {
    background-color: #31B362;
    color: white;
    padding: 3rem;
}

#partners {
    padding: 3rem;
}

#bywire {
    padding: 3rem;
}

#about {
    padding: 3rem;
}

.nav-margin {
    margin-top: 5rem!important;
}

.jumbotron {
    padding-top: 4rem;
}

.section-margin {
    margin-top: 4rem!important;
}

.section-margin-bottom {
    margin-bottom: 4rem!important;
}

hr.dark {
    border-top: 1px solid rgb(255 255 255 / 20%);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: rgb(49, 179, 98);
}

a.white {
    color: white;
}

hr {
    border-top: 1px solid rgb(33 181 115);
}

.btn-danger {
    color: #fff;
    background-color: #e32226;
    border-color: #e22023;
}